/* defining styles for ibomma (grid application) */
body{
  background:#020D19;
}
/* styles for header section */
.header{
  background:#0D1717;
  display:flex;
justify-content:space-between;
padding:10px;
margin-bottom:60px;
}
.header img{
 width:120px;
 height:90px;
}
 .header div:last-child{
 background:#FFEE58;
 height:35px;
 border-radius:15px;
 margin-top:25px;
}
 .header input{
   border:0;
   outline:0;
   background:#444;
   height:34px;
   color:#FFF;
}

/* style for article section */
 .article{
   text-align:center;
   margin-bottom:60px;
}
 .article p{
  color:#FFF;
  font-size:38px;
  font-family:Ebrima;
}
 .article div{
  color:#ddd;
  font size:20px;
}

.grid-box{
   display:grid;    /*  NrX1c */
  /*
 grid-template-columns:500px 400px 350;   OR
 grid-template-columns:50% 60% 40%;    OR */
 grid-template-columns:auto auto auto auto auto;
 grid-template-columns:auto auto auto auto;
/* column-gap:10px;
row-gap:20px; */
grid-gap:30px 100px;
width:90%;
margin:auto;
}
 
.grid-box img{
 width:100%;
 height:350px;
 border-radius:15px;
}
 .grid-box a{
  color:#ddd;
  text-decoration:none;
  font-size:130%;
  font-weight:bold;
} 
 .grid-box a:hover{
   color:yellow;
   text-decoration:underline;
}
.grid-box section div:last-child{ 
  color:#FFF9C4;
}
 

.grid-box section{
	transition:200ms;
}
 .gride-box section:hover{
   transform:skew(10deg,15deg);
	/* translate(5px,5px);
 	rotate(10deg) */
}

  .footer{
	display:flex;
	justify-content:space-between;
	color:#bbb;
	margin-top:50px;
	padding:15px 30px;
	background:#0D1717;
   }























